# Secrets / Credentials
JIRA_API_TOKEN=
JIRA_COMPANY=inscaleasia.atlassian.net
JIRA_USER=mzd@inscale.net
LARAVEL_BASE_IMAGE=

# Shell
EDITOR=nvim
VISUAL=nvim
DOTFILE=.dotfiles

# XDG
XDG_CONFIG_HOME=.config
XDG_CACHE_HOME=.cache
XDG_DATA_HOME=.local/share
XDG_STATE_HOME=.local/state

# Locale
LANG=en_GB.UTF-8
LC_ALL=en_GB.UTF-8
LC_MONETARY=en_GB.UTF-8

# Docker
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1

# Tools
NVM_DIR=.config/nvm
CHEAT_CONFIG_PATH=~/.config/cheat/conf.yml
NPM_CONFIG_USERCONFIG=.dotfiles/.npmrc
TASKRC=.config/task/taskrc
MYCLI_HISTFILE=.cache/mycli-history
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE=fg=240

# Ruby
GEM_HOME=.local/share/gems
GEM_PATH=.local/share/gems
